asyncio
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
GPUtil
httpx
moviepy
natsort
opencv-python
Pillow
psutil
pytz
pyroblack
requests
tgcrypto
uvloop
yt_dlp
pymegatools
https://github.com/vasusen-code/Telethon/archive/refs/tags/v1.24.0.zip
https://github.com/vasusen-code/ethon/archive/refs/tags/v0.1.5.zip
cryptg
python-decouple
